@import "./variables";
@import "./libs/normalize";

@import "./components/all";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}

.content {
  padding: 20px 0;

  &__error-info {
    margin: 100px auto;
    width: 500px;
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
    }
  }

  &__loader {
    position: relative;
    margin: 50px auto 100px;
    width: 150px;
    height: 150px;
    border: 2px solid #fdbb11;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -5px -5px 5px hsla(0, 0%, 100%, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.4),
      inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 10px 10px 10px rgba(0, 0, 0, 0.4);

    &:before {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      z-index: 10;
      background: #fff;
      border-radius: 50%;
      border: 2px solid #fdbb11;
      box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    }

    span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-image: linear-gradient(-225deg, #fd8d5f 0%, #fdbb11 50%, #ffdf8c 100%);

      filter: blur(20px);
      animation: animate 0.5s linear infinite;
    }

    @keyframes animate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &__title {
    font-weight: 800;
    font-size: 38px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: 11px;
    justify-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1260px) {
      .categories {
        overflow-x: auto;
        width: 100%;

        ul {
          width: 818px;
        }
      }

      .sort {
        padding-left: 20px;
        b {
          display: none;
        }
      }
    }

    @media (max-width: 820px) {
      flex-direction: column-reverse;
      .categories {
        margin-top: 30px;
        ul {
          li {
            padding: 8px 20px;
          }
        }
      }
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 20px auto;
    .content__title {
      margin: 0;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  .content__items {
    display: block;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    border-top: 1px solid $gray-line;

    &-img {
      display: flex;
      align-items: center;
      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 2 2 auto;
      @media (max-width: 767px) {
        width: calc(100% - 100px);
        margin-right: auto;
      }

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 115px;

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }

        &:disabled {
          opacity: 0.4;
          border-color: #787878;

          &:active {
            transform: none;
          }

          &:hover {
            background-color: transparent;

            svg path {
              fill: #787878;
            }
          }

          svg path {
            fill: #787878;
          }
        }
      }

      b {
        font-size: 22px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;
      @media (max-width: 767px) {
        flex: 0 1 100px;
      }

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 0 30px;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
    }
  }

  &--empty {
    margin: 80px auto;
    width: 620px;
    text-align: center;

    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      font-size: 20px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
